// login, signUp
.box-50 {
    width: 50%;
}
.box-account-img {
    width: 25%;
}
.box-account-text {
    width: 50%;
}
.box-resetPwd-text {
    width: 40%;
}
// modal card text area
.box-bigCard-text {
    width: 50%;
}
.box-bigCard-img {
    width: 45%;
}
.box-findEmo-main {
    min-height: 90vh;
}
// analyze
.box-47 {
    width: 47%;
}

// tablet
@media(max-width:992px){
    .box-50 {
        width: 100%;
    }
    .box-account-img {
        width: 50%;
    }
    .box-account-text {
        width: 80%;
    }
    .box-bigCard-img {
        width: 45%;
    }
    .box-resetPwd-text {
        width: 50%;
    }
    .box-47 {
        width: 100%;
    }
} 
// mobile
@media(max-width:767px){
    .box-resetPwd-text {
        width: 80%;
    }
    .box-bigCard-text {
        width: 50%;
    }
    .box-findEmo-main {
        min-height: auto;
    }
}
@media(max-width:576px){
    .box-bigCard-img {
        width: 100%;
    }
    .box-bigCard-text {
        width: 100%;
    }
}