@use "sass:map";

.custom-tooltip {
    &__doughnut-container {
        position: relative;
    }

    &__doughnut {
        position: absolute;
        top: 50%;
        border-bottom: 1px solid map.get($theme-colors, "gray-550");

        &-content {
            font-size: 0.5rem;

            &.end {
                text-align: end;
            }

            @media (min-width: 24em) {
                font-size: 0.75rem;
            }

            @media (min-width: 30em) {
                font-size: 1rem;

                :last-child {
                    font-size: 0.5rem;
                }
            }

            @media (min-width: 48em) {
                font-size: 1.5rem;

                :last-child {
                    font-size: 1rem;
                }
            }
        }

        &:hover {
            span {
                background-color: map.get($theme-colors, "white");
            }
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 0.25rem;
            aspect-ratio: 1;
            border-radius: 50%;
            background-color: map.get($theme-colors, "gray-550");
            bottom: 0;
        }

        &::before {
            transform: translate(-50%, 50%);
            left: 0;
        }

        &::after {
            transform: translate(50%, 50%);
            right: 0;
        }

        .show-up {
            -webkit-animation: show-up 200ms forwards ease-in;
            animation: show-up 200ms forwards ease-in;
        }
    }
}

@-webkit-keyframes show-up {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes show-up {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
