@use "sass:map";

.custom-tooltip {
    &[data-chart="doughnut"] {
        position: absolute;
        top: 50%;
        border-bottom: 1px solid map.get($theme-colors, "gray-550");

        p {
            font-size: 1.5rem;

            :last-child {
                font-size: 1rem;
            }

            @media (max-width: 576px) {
                font-size: 1.25rem;

                :last-child {
                    font-size: 0.75rem;
                }
            }
        }

        &:hover {
            z-index: 99;

            span {
                background-color: map.get($theme-colors, "white");
            }
        }

        &[data-position="left"] {
            left: 0;

            p {
                padding-inline-start: 2px;
            }
        }

        &[data-position="right"] {
            right: 0;

            p {
                text-align: right;
                padding-inline-end: 2px;
            }
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 0.25rem;
            aspect-ratio: 1;
            border-radius: 50%;
            background-color: map.get($theme-colors, "gray-550");
            bottom: 0;
        }

        &::before {
            transform: translate(-50%, 50%);
            left: 0;
        }

        &::after {
            transform: translate(50%, 50%);
            right: 0;
        }

        animation: show-up 500ms forwards ease-in;
    }
}

@-webkit-keyframes show-up {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes show-up {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
