.start-20 {
    left: 20%;
}
.start-40 {
    left: 40%;
}
.start-60 {
    left: 60%;
}
.start-80 {
    left: 80%;
}
.start-100 {
    left: 100%;
}
.start--15 {
    left: -15%;
}

.translate-x-middle {
    transform: translate(-50%, 0%);
}